<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308079892797-it25jei3ul48kmh7vtpe5p2o8qt9pm3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308079892797-it25jei3ul48kmh7vtpe5p2o8qt9pm3f</string>
	<key>API_KEY</key>
	<string>AIzaSyBR-T_MBiLLHxrLbBdvb_a3EltWowKARE4</string>
	<key>GCM_SENDER_ID</key>
	<string>308079892797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ameliaeric.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-39a8f</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-39a8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308079892797:ios:803d532ac85249c752cd54</string>
</dict>
</plist>